<app-loader></app-loader>
<!-- Overlay For Sidebars -->
<div id="wrapper">
  <app-navbar></app-navbar>
  <div id="main-content" style="margin-top: 70px;">
    <div class="container-fluid">
      <div class="row clearfix container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div style="margin-top: 0;">
            <div class="card modal-open m-b-5 shadow p-0">
              <div class="header">
                <h2><i class="fa fa-server"></i> OCEANO</h2>
                <hr>
              </div>
              <div class="body" style="margin-top: -40px;">
                <div class="row clearfix container-fluid">
                  <div class="col-md-3" *ngFor="let item of oceanoService.resultAllBuild; index as i;">
                    <app-board [boardItem]="item"></app-board>
                  </div>
                </div>
              </div>
              <div class="progress progress-xs progress-transparent custom-color-blue mb-0">
                <div class="progress-bar" data-transitiongoal="100" style="width: 100%;" aria-valuenow="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix container-fluid">
        <div class="col-md-5">
          <div class="card modal-open m-b-5 shadow p-0">
            <div class="header">
              <h2><i class="fa fa-server"></i> MAREGRAPHIE</h2>
              <hr>
            </div>
            <div class="body" style="margin-top: -40px;">
              <div class="row clearfix container-fluid">
                <div class="col-md-6">
                  <div class="card modal-open border border-secondary animated zoomIn">
                    <div class="header">
                      <h2><i class="fa fa-bookmark-o"></i> SOURCE 1</h2>
                    </div>
                    <div class="body">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td>Mailchimp</td>
                              <td><span>502 Records</span></td>
                              <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                              <th><i class="fa fa-circle text-success"></i></th>
                            </tr>
                            <tr>
                              <td>Google</td>
                              <td><span>502 Records</span></td>
                              <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                              <th><i class="fa fa-circle text-danger"></i></th>
                            </tr>
                            <tr>
                              <td>Other</td>
                              <td><span>237 Records</span></td>
                              <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                              <th><i class="fa fa-circle text-danger"></i></th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card modal-open border border-secondary animated zoomIn">
                    <div class="header">
                      <h2><i class="fa fa-bookmark-o"></i> SOURCE 2</h2>
                    </div>
                    <div class="body">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td>Mailchimp</td>
                              <td><span>502 Records</span></td>
                              <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                              <th><i class="fa fa-circle text-success"></i></th>
                            </tr>
                            <tr>
                              <td>Google</td>
                              <td><span>502 Records</span></td>
                              <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                              <th><i class="fa fa-circle text-danger"></i></th>
                            </tr>
                            <tr>
                              <td>Other</td>
                              <td><span>237 Records</span></td>
                              <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                              <th><i class="fa fa-circle text-danger"></i></th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progress progress-xs progress-transparent custom-color-blue mb-0">
              <div class="progress-bar" data-transitiongoal="100" style="width: 100%;" aria-valuenow="100"></div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row clearfix container-fluid">
            <div class="col-md-6">
              <div class="card modal-open m-b-5 shadow p-0">
                <div class="header">
                  <h2><i class="fa fa-server"></i> NAVARIA</h2>
                  <hr>
                </div>
                <div class="body" style="margin-top: -40px;">
                  <div class="row clearfix container-fluid">
                    <div class="col-md-12">
                      <div class="card modal-open border border-secondary animated zoomIn">
                        <div class="header">
                          <h2><i class="fa fa-bookmark-o"></i> SOURCE 1</h2>
                        </div>
                        <div class="body">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <tbody>
                                <tr>
                                  <td>Mailchimp</td>
                                  <td><span>502 Records</span></td>
                                  <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                                  <th><i class="fa fa-circle text-success"></i></th>
                                </tr>
                                <tr>
                                  <td>Google</td>
                                  <td><span>502 Records</span></td>
                                  <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                                  <th><i class="fa fa-circle text-danger"></i></th>
                                </tr>
                                <tr>
                                  <td>Other</td>
                                  <td><span>237 Records</span></td>
                                  <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                                  <th><i class="fa fa-circle text-danger"></i></th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress progress-xs progress-transparent custom-color-blue mb-0">
                  <div class="progress-bar" data-transitiongoal="100" style="width: 100%;" aria-valuenow="100"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card modal-open m-b-5 shadow p-0">
                <div class="header">
                  <h2><i class="fa fa-server"></i> GAN</h2>
                  <hr>
                </div>
                <div class="body" style="margin-top: -40px;">
                  <div class="row clearfix container-fluid">
                    <div class="col-md-12">
                      <div class="card modal-open border border-secondary animated zoomIn">
                        <div class="header">
                          <h2><i class="fa fa-bookmark-o"></i> SOURCE 1</h2>
                        </div>
                        <div class="body">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <tbody>
                                <tr>
                                  <td>Mailchimp</td>
                                  <td><span>502 Records</span></td>
                                  <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                                  <th><i class="fa fa-circle text-success"></i></th>
                                </tr>
                                <tr>
                                  <td>Google</td>
                                  <td><span>502 Records</span></td>
                                  <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                                  <th><i class="fa fa-circle text-danger"></i></th>
                                </tr>
                                <tr>
                                  <td>Other</td>
                                  <td><span>237 Records</span></td>
                                  <td><a href="" title="Lien"><i class="fa fa-link"></i></a></td>
                                  <th><i class="fa fa-circle text-danger"></i></th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress progress-xs progress-transparent custom-color-blue mb-0">
                  <div class="progress-bar" data-transitiongoal="100" style="width: 100%;" aria-valuenow="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
